.jumbotron
  .container
    %h1 選挙の結果を大発表！
.container
  %h2 個人の部
  #people.row
    - candidates.each_with_index do |candidate, i|
      .col-md-3
        .panel.panel-default
          .panel-heading
            %p
              = "#{i < 10 ? i + 1 : '最下位'}."
              %a{href: "/candidates/#{candidate[:id]}"}= candidate[:name]
          .panel-body
            %p
              得票数: #{candidate[:count] || 0}
            %p
              政党: #{candidate[:political_party]}
  %h2 政党の部
  #parties.row
    - parties.sort { |a, b| b[1] <=> a[1] }.each_with_index do |parties, i|
      .col-md-3
        .panel.panel-default
          .panel-heading
            %p
              = "#{i + 1}."
              %a{href: "/political_parties/#{parties[0]}"}= parties[0]
          .panel-body
            %p
              得票数: #{parties[1] || 0}
  %h2 男女比率
  #sex_ratio.row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %p 男性
        .panel-body
          %p
            得票数: #{sex_ratio['男'.to_sym]}
    .col-md-6
      .panel.panel-default
        .panel-heading
          %p 女性
        .panel-body
          %p
            得票数: #{sex_ratio['女'.to_sym]}
