<div class="jumbotron">
  <div class="container">
    <h1>選挙の結果を大発表！</h1>
  </div>
</div>
<div class="container">
  <h2>個人の部</h2>
  <div id="people" class="row">
    <% candidates.each_with_index do |candidate, i| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= "#{i < 10 ? i + 1 : '最下位'}." %> <a href="/candidates/<%= candidate[:id] %>"><%= candidate[:name] %></a></p>
          </div>
          <div class="panel-body">
            <p>得票数: <%= candidate[:count] || 0 %></p>
            <p>政党: <%= candidate[:political_party] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h2>政党の部</h2>
  <div id="parties" class="row">
    <% parties.sort { |a, b| b[1] <=> a[1] }.each_with_index do |parties, i| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= "#{i + 1}." %> <a href="/political_parties/<%= parties[0] %>"><%= parties[0] %></a></p>
          </div>
          <div class="panel-body">
            <p>得票数: <%= parties[1] || 0 %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h2>男女比率</h2>
  <div id="sex_ratio" class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>男性</p>
        </div>
        <div class="panel-body">
          <p>得票数: <%= sex_ratio['男'.to_sym] %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>女性</p>
        </div>
        <div class="panel-body">
          <p>得票数: <%= sex_ratio['女'.to_sym] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
